.CountryPage {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: white;
}
  
.main-country {
    height: 76vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: hsl(0, 0%, 95%);
    transition: ease background-color .2s;
}

.main-country.dark {
    background-color: hsl(207, 26%, 17%);
}

.navbar-country {
    height: 6vh;
    width: 80vw;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;
    margin: 5vh 0;
}

.back-button:link, .back-button:visited, .back-button:active {
    text-decoration: none;
    color: black;
}

.back-button {
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.15);
    -webkit-box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.15);
    border-radius: 5px;
    padding: 0 3%;
    gap: 6px;
    background-color: white;
    color: black;
    transition: ease background-color .2s;
}

.back-button.dark {
    background-color: hsl(209, 23%, 22%);
    color: white;
}

.back-button-image {
    height: 15px;
}

.back-button-image.dark {
    filter: invert(1);
}

.country-result-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0 10%;
}

.country-result-image {
    height: 270px;
    width: 40%;
    object-fit: cover;
}

.country-result-info-box {
    height: 270px;
    width: 55%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.country-result-info-title {
    font-size: 1.7rem;
    color: black;
    margin: 0;
}

.country-result-info-title.dark {
    color: white;
}

.country-result-info-text {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.country-result-info-column {
    width: 47%;
}

.country-result-info-item {
    margin: 2% 0;
    font-size: 1rem;
}

.country-result-info-item.dark {
    color: white;
}

.country-result-info-border-box {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
}

.country-result-info-border {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 10px;
}

.country-result-info-border-title {
    margin: 0;
    margin-right: 5px;
    font-size: 1rem;
}

.country-result-info-border-title.dark {
    color: white;
}

.border-countries-button {
    width: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.15);
    -webkit-box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.15);
    border-radius: 5px;
    padding: 3px 5px;
    background-color: white;
    color: black;
    transition: ease background-color .2s;
}

.border-countries-button.dark {
    background-color: hsl(209, 23%, 22%);
    color: white;
}

.border-countries-button:link, .border-countries-button:visited, .border-countries-button:active {
    text-decoration: none;
}

.loader-container-country {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 10%;
}

.loader-country {
    border: 4px solid rgba(0, 0, 0, 0.1);
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border-left-color: #09f;
    animation: spin 1s ease infinite;
}
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
}

@media screen and (max-width: 480px) {

    .CountryPage {
        height: auto;
    }

    .main-country {
        height: 100%;
    }

    .navbar-country {
        width: 86vw;
        margin: 4vh 0;
    }

    .country-result-container {
        padding: 0 7%;
        flex-direction: column;
        justify-content: flex-start;
    }

    .country-result-info-title {
        margin-top: 25px;
        margin-bottom: 10px;
    }

    .country-result-image {
        height: 200px;
        width: 100%;
    }

    .country-result-info-text {
        flex-direction: column;
    }

    .country-result-info-box {
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        margin-bottom: 1vh;
    }

    .country-result-info-column {
        width: 100%;
        margin-bottom: 10px;
    }

    .country-result-info-border-box {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 10px;
    }

    .loader-container-country {
        height: 61vh;
    }

}