.country-card-image {
    height: 45%;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.country-card-text {
    height: 55%;
    width: 100%;
    padding: 7% 7%;
}

.country-card-title {
    margin-top: 0;
    margin-bottom: 5%;
}

.country-card-title.dark {
    color: white;
}

.country-card-item {
    margin: 2% 0;
    font-size: .9rem;
}

.country-card-item.dark {
    color: white;
}