.HomePage {
    height: auto;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: white;
}

.main-home {
    width: 100%;
    padding: 0 10%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: hsl(0, 0%, 95%);
    transition: ease background-color .2s;
}

.main-home.normal-height {
    height: 100%;
}

.main-home.reduced-height {
    height: 76vh;
}

.main-home.dark {
    background-color: hsl(207, 26%, 17%);
}

.main-content-section {
    height: auto;
    width: 100%;
    display: grid; 
    grid-auto-rows: 320px; 
    grid-template-columns: 21% 21% 21% 21%; 
    gap: 50px 0px;
    justify-content: space-between; 
    padding: 2vh 0;
}

.country-card-container {
    height: 100%;
    width: 100%;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
    box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.15);
    -webkit-box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.15);
    background-color: white;
    transition: ease background-color .2s;
}

.country-card-container.dark {
    background-color: hsl(209, 23%, 22%);
}

.navlink:link, .navlink:visited, .navlink:active {
    text-decoration: none;
    color: black;
}

@media screen and (max-width: 480px) {

    .main-content-section {
        grid-template-columns: 80%; 
        gap: 35px 0px;
        justify-content: center; 
        padding: 2vh 0;
    }

    .main-home {
        padding: 0 7%;
    }

    .country-card-container {
        border-radius: 10px;
    }

}